# C extensions
*.so

# log
*.log

# Environments
.env

.DS_Store

# mysql data
mysql_data

# debug setting file
.vscode/launch.json

# build directory
build

# build directory
dist

# go.fum file
go.sum

# debug binary
__debug_bin
